* {
  margin: 0;
  padding: 0;
}
.container {
  padding: 0px 120px;
}
/* navbar stle */
.navbar {
  background-color: azure;
  display: flex;
  justify-content: space-between;
}
.navbar ul {
  display: flex;
  list-style: none;
}
.navbar ul li {
  margin: 10px;
}
.navbar ul li a {
  text-decoration: none;
  color: black;
}
.navbar ul li a:hover {
  border-bottom: 5px solid blue;
  padding-bottom: 10px;
  font-size: 18px;
}
/* hero style */
#hero-container {
  background-color: rgb(84, 114, 114);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65vh;
  color: white;
}
.right-container {
  height: 90%;
  width: auto;
}
.right-container img {
  height: 100%;
  align-items: baseline;
}
.left-container h3,
h1,
button {
  margin: 10px;
  font-size: 25px;
}
#btn-left {
  width: 100px;
  border-radius: 50px;
  border: none;
  background-color: orange;
}
/* services styles */
#services {
  background-color: #dedede;
  text-align: center;
  padding: 30px 120px;
}
.top-conatiner {
  margin: 40px 0px;
  border-bottom: 2px solid white;
  padding-bottom: 30px;
}
#card-container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 15px;
}
.card {
  height: 250px;
  width: 300px;
}
.card img {
  border-radius: 50%;
  height: 80%;
  width: 80%;
}
.card:hover {
    
  background-color: white;
  box-shadow: 3px 6px 8px 5px gray;
}
/* contact us form */
#form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px 120px;
}
.icons {
  margin: 50px 0px;
  font-size: 100px;
}
form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  background-color: rgb(84, 84, 11);
  padding: 50px;
}
#form-container form input,
button {
  height: 50px;
  padding: 0px 30px;
  border-radius: 10px;
}
#form-container form button {
  background-color: rgb(84, 84, 114);
  width: 50%;
  border: 2px solid white;
  color: white;
}
.icons-container {
  background-color: #d6d2e0;
  text-align: center;
  padding: 40px;
}
/* footer-style */
#footer-container {
  background-color: rgb(84, 84, 114);
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-around;
  color: white;
  align-items: center;
}
